.ban{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/cloudcomputing.jpg);
    background-size: cover;
}

.ban .contenu{
    max-width: 70%;
    text-align: center;
}

.ban .contenu h1{
    color:#fff;
    font-size:2em;
    text-transform: capitalize;
}

.contenu p:nth-child(2){
    color: #ffe5ff;
    font-size: 1.2em;

}

.btn1{
    font-size: 1em;
    color:#fff;
    background: #fb911f;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}