section{
    padding: 100px;
  
}
.bio{
    margin-top: 300px;
}

.row{
   position: relative; 
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.row .col50{
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;
}
.row .col50 h2{
    margin-bottom: 20px;
}

title{
    color: #000;
    font-size: 2em;
    font-weight: 300px;
    text-transform: capitalize;
}
.color{
    color: #000;
}
.bio .box{
    width: 90%;
    margin:5px 40px 10px 30px ;
    border:20px solid #ffff;
    box-shadow: 20px 15px 35px rgba(0, 0,0, 0.8) ;
    
}
header #navbar li a:hover{
    color: #fb911f;
    border-bottom:2px solid #fb911f ;
  }